
body {
    background: linear-gradient(-30deg,
     hsl(257, 77%, 15%),
     #e73c7e,
     #0b011b,
     hsl(257, 40%, 39%));
    background-size: 200% 100%;
    animation: gradient 120s ease infinite;
    background-image: url("./bg/bg0.jpeg");
}

@font-face {
  font-family: 'babel-menu';
  src: url(fonts/menu.ttf);
}

 html {
  cursor: url("./cursors/axe32.cur"), default;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 


.mainmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MainMenuBanner {
  font-size: calc(22px + 5vw);
  font-family: babel-menu;
  justify-content: center;
  align-items: center;
  color: #f99448;
}

.mainmenuoption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: babel-menu;
  font-size: calc(20px + 2vw);
  background: transparent;
  color: #e6dfe1;
  box-shadow: 1px 6px 6px 2px rgba(219, 14, 14, 0.6);
}

.userdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: babel-menu;
  font-size: calc(20px + 2vw);
  background: transparent;
  color: #e6dfe1;
  /* box-shadow: 1px 6px 6px 2px rgba(219, 14, 14, 0.6); */
}

#version {
  display: flex; 
  width: 100%;
  justify-content: flex-end;
  color: #f99448;
  font-family: babel-menu;
}

#question {
  background: linear-gradient(-30deg,
  hsl(256, 13%, 59%),
  #e6dfe1,
  #cac7d0,
  hsl(257, 40%, 39%));
  animation: gradient 20s ease infinite;
  font-size:calc(6px + 3.5vw);
  justify-content: center;
  align-items: center;
  display: flex; /* magic line */
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  .topleft{
    justify-content: center;
    position: fixed; top: 20px; left: 20px; 
  }

  .topmid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
  }

  .topright{
    justify-content: center;
    position: fixed; top: 20px; right: 20px; 
  }

  .bottomleft{
    justify-content: center;
    position: fixed; bottom: 20px; left: 20px; 
  }

  .bottommid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    bottom: 20px; 
  }


  .bottomright{
    justify-content: center;
    position: fixed; bottom: 20px; right: 20px; 
  }

  .gameDisplay {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 1.5vw);
    color: silver;
  }

  .gameDisplayTopMid {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 1.5vw);
    color: silver;
    justify-content: center;
  }

  .gameOptionButton {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 0.5vw);
    color: silver;
  }

  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }

  .container {
    width: 90vw;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: calc(6px + 1vw);
    outline: greenyellow;
  }
  
  .btn:hover {
    border-color: black;
  } 
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size:calc(6px + 2.5vw);
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .answer-btn {
    font-size:calc(6px + 2.5vw);
    font-weight: bold;
    /* padding: 10px 20px; */
    padding: calc(5px + 0.1vw) calc(10px + 0.2vw);

  }
  

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
