body {
    background: linear-gradient(-30deg,
     hsl(257, 77%, 15%),
     #e73c7e,
     #0b011b,
     hsl(257, 40%, 39%));
    background-size: 200% 100%;
    animation: gradient 120s ease infinite;
    background-image: url("./bg/bg0.jpeg");
}


@font-face {
  font-family: 'babel-menu';
  src: url(fonts/menu.ttf);
}


@font-face {
  font-family: 'quest-scroll';
  src: url(fonts/quest-scroll.ttf);
}

@font-face {
  font-family: 'cursive';
  src: url(fonts/cursive.ttf);
}


@font-face {
  font-family: 'babel-convo';
  src: url(fonts/POLYA.otf);
}


 html {
  cursor: url("./cursors/axe32.cur"), default;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 


.mainmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.MainMenuBanner {
  font-size: calc(22px + 5vw);
  font-family: babel-menu;
  justify-content: center;
  align-items: center;
  color: #f99448;
}

.mainmenuoption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: babel-menu;
  font-size: calc(20px + 2vw);
  background: transparent;
  color: #e6dfe1;
  box-shadow: 1px 6px 6px 2px rgba(219, 14, 14, 0.6);
}

.userdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: babel-menu;
  font-size: calc(20px + 2vw);
  background: transparent;
  color: #e6dfe1;
  /* box-shadow: 1px 6px 6px 2px rgba(219, 14, 14, 0.6); */
}

#babelConvo {
  font-family: babel-convo;
  font-size: xx-large;
  color: rgb(5, 233, 108);
  background: transparent;
  box-shadow: 1px 6px 6px 2px rgba(10, 53, 1, 0.6);
}

#clockDiv {
  font-family: babel-convo;
  font-size: xx-large;
  color: rgb(5, 233, 108);
  background: transparent;
  box-shadow: 1px 6px 6px 2px rgba(10, 53, 1, 0.6);
}

#version {
  display: flex; 
  width: 100%;
  justify-content: flex-end;
  color: #f99448;
  font-family: babel-menu;
}



#question {
  background: linear-gradient(-30deg,
  hsl(256, 13%, 59%),
  #e6dfe1,
  #cac7d0,
  hsl(257, 40%, 39%));
  animation: gradient 20s ease infinite;
  font-size:calc(6px + 3.5vw);
  justify-content: center;
  align-items: center;
  display: flex; /* magic line */
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  .topleft{
    justify-content: center;
    position: fixed; top: 20px; left: 20px; 
  }

  .topmid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
  }

  .topright{
    justify-content: center;
    position: fixed; top: 20px; right: 20px; 
  }

  .bottomleft{
    justify-content: center;
    position: fixed; bottom: 20px; left: 20px; 
  }

  .bottommid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    bottom: 20px; 
  }


  .bottomright{
    justify-content: center;
    position: fixed; bottom: 20px; right: 20px; 
  }

  .gameDisplay {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 1.5vw);
    color: silver;
  }

  .gameDisplayTopMid {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 1.5vw);
    color: silver;
    justify-content: center;
  }

  .gameOptionButton {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-size:calc(6px + 0.5vw);
    color: silver;
  }

  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }

  .GameDiv {
    width: 100%;
    height: 100%;
    position: relative;
  }
  

  .container {
    width: 90vw;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    margin-bottom: 10px;
    
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: calc(6px + 1vw);
    outline: greenyellow;
    font-family: babel-menu;
  }
  
  .btn:hover {
    border-color: black;
  } 
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size:calc(6px + 2.5vw);
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .answer-btn {
    font-size:calc(6px + 2.5vw);
    font-weight: bold;
    /* padding: 10px 20px; */
    padding: calc(5px + 0.1vw) calc(10px + 0.2vw);
  }

  .quest-options {
    font-size:calc(6px + 2.5vw);
    font-weight: bold;
    /* padding: 10px 20px; */
    padding: calc(5px + 0.1vw) calc(10px + 0.2vw);
    box-shadow: 0 3px 3px 3px #f99448;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  

.ui {
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'IM Fell French Canon', serif;
}

.quest-ui-layout {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  justify-content: space-between;
}

.quest-ui {
  background: rgba(1.0, 1.0, 1.0, 0.75);
  padding: 20px 20px;
  width: 97vw;
  height: 97vh;
  opacity: 0.97;
  font-family: babel-menu;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  background: linear-gradient(-30deg,
  hsl(257, 77%, 15%),
  #e73c7e,
  #0b011b,
  hsl(257, 40%, 39%));
 background-size: 175% 100%;
 animation: gradient 120s ease infinite;
 background-image: url("./bg/bg0.jpeg");
}

.quest-title {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
  display: flex;
  justify-content: center;
}

.quest-text-title {
  font-size: 3em;
  color: white;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.quest-options {
  display: flex;
  flex: none;
  justify-content: center;
  font-size: 2em;
  color: white;

}

.quest-text {
  font-size: 2em;
  color: white;
  justify-content: center;
}

#quest-journal-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#quest-journal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quest-journal-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.quest-journal {
  display: flex;
  flex-direction: column;
  font-family: babel-menu;
  background: rgba(1.0, 1.0, 1.0, 0.75);
  margin: 30px;
  padding: 20px 20px;
  padding-top: 5px;
  width: 30vw;
  height: 80vh;
  justify-content: flex-start;
  z-index: 1;
}

.quest-entry {
  font-size: 2em;
  color: white;
  border: black;
  border-style: solid;
  border-width: thick;
  padding: 5px;
  box-shadow: 0 6px 6px 6px #e73c7e;


}

.icon-ui {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-bar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 1;
}

.icon-bar-top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
  z-index: 1;
}

.icon-bar-item {
  background-size: cover;
  width: 75px;
  height: 75px;
  margin: 2px;
  box-shadow: 0 6px 6px 6px #e73c7e;
}

#health-ui {
  background-image: url('./resources/icons/ui/health-bar.png');
  width: 200px;
  height: 120px;
  /* box-shadow: 0 6px 6px 6px turquoise; */
  position: absolute;
}

.health-bar {
  background: greenyellow;
  width: 100px;
  max-width: 100px;
  height: 25px;
  position: relative;
  top: 80px;
  left: 85px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}

.stats-tooltip {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.stats-tooltip .stats-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  opacity: 0.75;
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  color: white;
  font-size: medium;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.stats-tooltip:hover .stats-tooltiptext {
  visibility: visible;
}

.stats-title {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
  font-family: babel-menu;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px;
  z-index: 1;
}

.stats-inner {
  display: flex;
  flex-direction: column;
  background: rgba(1.0, 1.0, 1.0, 0.75);
  padding: 20px 20px;
  width: 250px;
  padding-top: 5px;
  font-family: babel-menu;
  /* box-shadow: 0 6px 6px 6px rgb(8, 133, 4) */
}

.stats-row {
  font-family: babel-menu;
  color: #0b011b;
  border-style: solid;
  /* border-radius: 5%; */
  border-color: #0b011b;
  font-size: 2em;
  color: white;
  text-shadow: 4px 4px black;
  background-color: blueviolet;
  opacity: 0.75;
  padding: 3px;
  
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2em;
  color: white;
  text-shadow: 4px 4px black; */
}

.inventory-title {
  font-family: babel-menu;
  display: flex;
  justify-content: center;
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px black;
}

.inventory {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px;
  z-index: 1;
}

.inventory-inner {
  display: flex;
  flex-direction: column;
  background: rgba(1.0, 1.0, 1.0, 0.75);
  padding: 20px 20px;
  padding-top: 5px;
}

.inventory-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inventory-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inventory-character {
  background-image: url('./resources/icons/ui/inventory-character.png');
  background-size: cover;
  width: 200px;
  height: 350px;
}

.inventory-item {
  border: black;
  border-style: solid;
  border-radius: 10%;
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 2px;
  background-size: cover;
  box-shadow: 0 2px 2px 2px rgb(238, 120, 10);
}

.menu-ui {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

}

.menu-title {
  font-family: babel-menu;
  justify-content: center;
  align-items: center;
  color: #ddd5e9;
  font-size: 3em;
  text-shadow: 3px 3px black;
  background-color: black;
  opacity: 0.75;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-subtitle {
  font-family: babel-menu;
  color: #0b011b;
  font-size: 1em;
  padding: 3px;
  justify-content: center;
  align-items: center;
  color: #ddd5e9;
  text-shadow: 3px 3px black;
  background-color: black;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-item {
  font-family: babel-menu;
  color: #0b011b;
  border-style: solid;
  /* border-radius: 5%; */
  border-color: #0b011b;
  font-size: 2em;
  color: white;
  text-shadow: 4px 4px black;
  background-color: blueviolet;
  opacity: 0.75;
  padding: 3px;
}

#controls-menu-inner{
  background-color: blueviolet;
  box-shadow: 0 3px 3px 3px brown;
}